.styled-table {
  border-collapse: collapse;
  margin: 8px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.div{
  width: 34px;
    margin:50px auto 0px;
}
.div button{
  color: #dddddd;
  background-color: #009879;
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 5px;
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
  font-weight: bold;
  color: #009879;
  cursor: pointer;
}

.yes {
  margin-left: 38px;
  background-color: red;
  border: none;
  color: #dddddd;
  width: 40px;
}
.no {
  background-color: rgb(1, 48, 95);
  border: none;
color: #dddddd;
width: 40px;
}


#addUser{
  position: absolute;
    top: 133px;
    border: none;
    background-color: #009879;
}

#addUser .addUserForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#addUser .addCancel{
  margin-top: 10px;
margin-left: 58px;
}



#editUser{
  position: absolute;
    top: 133px;
    border: none;
    background-color: #009879;
}

#editUser .editUserForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#editUser .editCancel{
  margin-top: 10px;
margin-left: 58px;
}

#delUser{
  position: absolute;
    top: 133px;
    border: none;
    background-color: #009879;
   
}

